/* reset */
body{
    margin: 0%;
}

.page-header{
    background-image: url("../img/pattern.png");
    background-size: 300px;
    background-color: royalblue;
}

.logo-booleaner{
    width: 200px;
    margin-top: 30px;
    margin-left: 10px;
}

.main-title{
    font-size: 30px;
    margin-bottom: 5px;
}

.author{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.date{
    font-size: 10px;
    margin-top: 5px;
}

.tim1{
    width: 350px;
}

.tim2{
    width: 300px;
}

.didascalie{
    font-size: smaller;
    margin-bottom: 10px;
}